body{
    margin: 0px;
    padding: 0px;
    background-color: #f5f5f5;
}

h2,h3{
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}

/* top -bar */
#top-bar{
    width: 100%;
    background-color:#f8f9fa ;
    border: 0px solid black;
    display: flex;
    padding: 20px;
    align-items: center;
    text-align: center;
}

#top-bar>img{
    margin-right: 20px;
    margin-left: 20px;
}

#top-bar>input{
    width: 50%;
    /* background-color: bisque; */
    padding-left: 0px;
    padding: 10px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border: none;
    }
#serchbtn{
    background-color: black;
    color: #fff;
    width: 100px;
    padding: 9px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border: none;
}

#top-bar>div>button{
    display: flex;
    margin-left: 40px;
    margin-right: 40px;
    padding: 10px;
    border: none;
    background-color:#f8f9fa ;
}
#icons>i{
padding: 5px;
}
/* navbar */

/* navbar */

#navbar{
    display: flex;
    border: 0px solid black;
    background-color:#ffffff  
}
#navbar>div{
    margin-left: 15px;
    padding: 10px;
}


#banner>img{
    width: 100%;
}

/* bestseller */

.container>h3{
    text-align: center;
    width: 100%;
    }
    .container>h2{
        text-align: center;
        width: 100%;
        }

.card-container{

    border: 0px solid black;
    display: flex;  
    justify-content: space-around;
}



.card-container>div{

    border: 0px solid black;
    width: 20%;
    text-align: center;
    background-color:white;
}


.card-container>div>img{

    width: 80%;
}



/* hotdeals */

.card-container>div>div{
    background-color: black;
    color: white;
    padding: 10px;
    }



/* hotdeals */ 
/* 3div styles */

/* container-3b */

/* card-container-3b */

.container-3b {

    border: 0px solid black; 
    width: 100%;  
}

.container-3b >h2{
    text-align: center; 
}

.card-container-3b{
    border: 0px solid black;
    display: flex;  
    width: 100%; 
    margin: auto;
}

.card-container-3b>div{
    margin: 15px;
}
.card-container-3b>div>div{
    border: 0px solid black;
    margin: auto;  
    justify-content: space-between;
}
.card-container-3b>div>img{
    width: 100%;
}

/* justin */
#justin-box{
    border: 0px solid black;
    width: 80%;
    margin: auto;

}




#justin-box>h2{
    text-align: center;
    width: 100%; 
}

#justin{
    border: 0px solid black;
    display: flex;  
    justify-content: space-around; 
}

#justin>div{
    border: 0px solid black;
    width: 20%;
    text-align: center;
    background-color:white; 
}
#justin>div>img{
    width: 80%;
}

#justin>div>div{
    border: 0px solid black;
    margin: auto;  
    justify-content: space-between;    
}
/* video styleing */
#videosec-box>div{

    margin: auto;
    border: 0px solid red;  
}

#iframe-container{
margin: auto;

    border: 0px solid red;  
    text-align: center;

}
#videosec-box>h2{
    text-align: center;
}

  
#toppic{
    border: 0px solid black;
    display: flex;
}

#refer-box>div>img,#newly-launch-box>div>img,#quick-tips-box>img{
    width: 100%;
}


#thisorthat{
    display: flex;
    border :0px solid green;
    justify-content: space-around;
}

#thisorthat>img{
    width: 40%;
   
}

#explore{
    display: flex;
    border :0px solid green;
    justify-content: space-around;
    margin-bottom: 40px;
}

#footer>img{
    width: 100%;
}