

#container{
    width: 40%;
    margin: auto;
    background-image: linear-gradient(to bottom, #faa1c6, #ec9dcc, #dc9ad1, #c998d5, #b596d7);
    padding: 40px;
}

#login-txt{
    color: white;
    font-size: 24px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}

#logwithgogoole>img{
    width: 150px;
}

#name>input, #name+input {
    padding: 10px;
    width: 12vw;
    margin: 10px;
}


#savecon{
    background-color: #faa1c6;
    padding: 10px;
    width: 12vw;
    margin: 10px;
    text-align: center;
    color: #FFF;
    font-family: 'Quicksand', sans-serif;
   
}


#disclamer{
   text-align: center;
   font-family: 'Quicksand', sans-serif;
   font-weight: bold;
   font-size: 15px;
}


#login-box{
    border: opx solid red;
    padding: 40px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: white;
    width: 90%;
    margin: auto;
    border-radius: 5px;
}